@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.address {
  .sub-item {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;

    @include media-breakpoint-down('lg') {
      margin-bottom: 1.5rem;
    }
  }

  .icon-container {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    margin-right: 2rem;
    background-color: $primary-main;
    border-radius: 50%;
    transform: scale(1.5);

    @include media-breakpoint-down('md') {
      transform: scale(1);
    }
  }

  .icon {
    color: $white;
  }

  .link {
    font-size: 1.1rem;
    font-weight: 600;
  }
}
