### dotenv ###
.env
.env.development
.env.production


### Gatsby ###
node_modules/

.cache/
public

src/gatsby-types.d.ts

### yarn ###
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
yarn-error.log

# if you are NOT using Zero-installs, then:
# comment the following lines
!.yarn/cache
