@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.index-container {
  .container {
    position: relative;
  }

  .title {
    font-weight: bold;
    color: $primary-main;
  }

  .word {
    &:nth-child(4),
    &:nth-child(5) {
      color: $info-main;
    }
  }

  .highlighted-words {
    font-weight: bold;
    color: $info-main;
  }

  .subtitle {
    margin-bottom: 3rem;
  }

  .partnership {
    margin-top: 3rem;
  }

  .partner-image {
    max-width: 100%;
    pointer-events: none;
  }

  .circles {
    position: absolute;
    z-index: -5;
    top: 90px;
    left: -40px;
  }

  .main-media {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0px 14px 36px rgba(0, 0, 0, 0.04);
    background-color: #e0e0e0;
    margin-bottom: 2rem;

    @include media-breakpoint-only('xs') {
      height: auto;
    }

    @include media-breakpoint-only('sm') {
      height: 300px;
    }

    @include media-breakpoint-only('md') {
      height: 260px;
    }

    @include media-breakpoint-only('lg') {
      height: 350px;
    }

    @include media-breakpoint-only('xl') {
      height: 400px;
    }
  }

  .waves {
    position: absolute;
    z-index: 5;
    top: 130px;
    left: -50px;
    pointer-events: none;

    @include media-breakpoint-only('xs') {
      top: 30px;
      left: -70px;
    }

    @include media-breakpoint-only('md') {
      top: 70px;
    }
  }

  .parent-logos {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 7.5rem;
    align-items: center;
  }

  .divider {
    height: 100%;
    width: 1px;
    background: $primary-main;
    margin: 0 1rem;

    @include media-breakpoint-down('lg') {
      display: none;
    }
  }

  .university-logo {
    height: 6rem;
    width: 6rem;

    @include media-breakpoint-down('lg') {
      display: none;
    }
  }

  .institute-logo {
    height: 6rem;
    min-width: 6rem;
  }

  .institute-link {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .institute-name {
    font-weight: bold;
    color: $primary-main;
    text-transform: uppercase;
    margin-left: 0.2rem;
  }

  .partnership-icons {
    @include media-breakpoint-down('lg') {
      margin-bottom: 3rem;
    }
    
    .partnership-icon {
      max-width: 100%;
    }
  }
}
