@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.top-waves {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 842px;
    height: 1109px;
    filter: blur(2px) opacity(0.5);
    background-image: url('/icons/topWaves.svg');
    background-repeat: no-repeat;
    transform: scale(0.8);
    z-index: -10;
    overflow-x: hidden;
    @include media-breakpoint-only('md') {
      top: -120px;
      left: -250px;
    }
    @include media-breakpoint-only('sm') {
      top: -180px;
      left: -300px;
    }
    @include media-breakpoint-only('xs') {
      top: -200px;
      left: -300px;
    }
}

.right-waves {
    position: absolute;
    top: -200px;
    right: -150px;
    width: 1358px;
    height: 1082px;
    filter: blur(2px) opacity(0.5);
    background-image: url('/icons/rightWaves.svg');
    background-repeat: no-repeat;
    transform: scale(0.8);
    z-index: -10;
    overflow-x: hidden;
    @include media-breakpoint-only('lg') {
      top: -170px;
      right: -150px;
    }
    @include media-breakpoint-only('sm') {
      top: -160px;
      right: -500px;
    }
    @include media-breakpoint-only('xs') {
      top: -130px;
      right: -600px;
    }
}