@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.gallery-slider {
  margin-top: 3rem;
  margin-bottom: 3rem;

  .gallery-slider-carousel {
    display: block;
  }

  .gallery-slider-button {
    opacity: 0.1;
    transition: 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  .gallery-slider-title {
    font-weight: 600;
    color: $primary-main;
  }

  .gallery-slider-subtitle {
    max-width: 600px;
  }

  .gallery-slider-image {
    width: 100%;
    height: 700px;
    border-radius: 0.5rem;

    @include media-breakpoint-down('sm') {
      height: 400px;
    }
  }
}
