@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.article-container {
  margin: 5rem 0;

  &.mb-2 {
    margin-bottom: 2rem;
  }

  .article {
    padding: 3rem 4rem;
    box-shadow: 0 14px 36px rgba(0, 0, 0, 0.04);
    border-radius: 1rem;
    background-color: $white;

    @include media-breakpoint-down('lg') {
      padding: 2rem 1rem;
    }

    &-image-container {
      width: 100%;
      max-height: 300px;
      overflow: hidden;
    }

    &-image {
      width: 100%;
      max-height: 300px;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      background-color: $background-default;
      overflow: hidden;
      box-shadow: 2px 2px 15px 6px rgba(0,0,0,0.05);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
